footer
    background-image: linear-gradient(296deg, #db6344, $color.primary)
    padding-top: 100px
    .container
        max-width: 1150px
    .grid
        border-top: 1px solid white
        padding: 50px 10% 0 5%
        display: flex
        justify-content: space-between
    .logo
        flex-basis: 20%
        img 
            max-width: 100%
    .menu
        flex-basis: 40%
        display flex
        justify-content: space-between 
        nav
            display flex
            flex-direction: column
            color white
        h3
            font-size: 20px
            margin-bottom: 25px
        a
            margin-bottom: 15px
    .bottom
        padding: 100px 0 30px
        p
            text-align: center
            color: white