.header-internal
    width: 150%
    height: 180px
    position relative
    left -25%
    background-image: linear-gradient(277deg, #db6344, $color.primary);
    display flex
    justify-content: center
    align-items: center
    border-radius: 0 0 90% 90%
    h1
        color white
        font-size: 35px