.enterprise
    display: flex
    flex-wrap: wrap
    .left
        flex: 1
        p
            line-height: 1.8
            &:not(:last-child)
                margin-bottom: 20px
    figure
        +above($bp.md)
            width: 300px
            margin-left: 70px
            height 200px
        +below($bp.md)
            width: 100%
            margin-top: 50px
        img
            width: 100%
            height 100%
            object-fit: cover
            object-position: center